.class-img {
    width: 400px;
    padding: 17px;
}

.class-todo {
    border: 3px solid #e1e1e1;
    border-radius: 5px;
    padding: 17px;
    width: 1200px;
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.class-div {
    margin: 0 auto;
    width: 450px;
}
