img.contacto{
    display:block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}

.barra-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.barra-menu h1{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
}

.menu a{
    margin-right: 20px;
}

.menu a:hover{
    color: #ffcc00;
    text-decoration: underline;
}

.redes {
    border: 1px solid #e1e1e1;
    background-color: #587769;
    border-radius: 5px;
    padding: 17px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
