#studentList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    margin: 20px 0;
}

.student{
    border: 1px solid #ffcc00;
    border-radius: 10px;
    padding: 10px;
}

h3{
    margin: 20px 0;
}

table {
    margin: 50px auto;
    border-collapse: collapse;
    width: 50%;
}

table, th, td {
    border: 1px solid #ffcc00;
    padding: 5PX;
}

